.mat-column-id {
    flex: 0 0 10%;
    text-align: center;
}
.mat-column-name {
    flex: 0 0 50%;
    text-align: center;
}

.mat-column-email {
    flex: 0 0 40%;
    text-align: center;
}



.main-div{
    padding: 5%;
    height:100%;
}

